<div id="<%= dom_id post %>" class="text-center col-6 post-container" style="margin: auto">
  <div>
    <%= image_tag post.user.avatar, style:"width: 30px; height: 30px" %>
    <%= link_to post.user.username, post.user %>
  </div>

  <% post.images.each do |image| %>
    <%= image_tag(image, style: "object-fit: contain; width: 200px; height: 200px;") %>
  <% end %>

  <div style="position: relative">
    <%= link_to "", post, class: "post-link" %>
    <%= post.description %>
  </div>

  <div>
    <%= render partial: "likes/button", locals: { likeable: post } %>
    <%= post.likes.count %>
  </div>
</div>
